.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.content-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}